@import 'variables.sass'

.futureProducts
    background: #000
    padding: 
        top: 151px
        bottom: 174px

    &Title
        margin-bottom: 89px
        color: $primary-text-color
        text-align: center
        font:
            family: $primary-font-family
            size: 48px
            style: normal
            weight: 400
        line-height: 28px

    &Color
        color: $secondary-text-color

    &List
        display: flex
        justify-content: space-around
        width: 417px
        margin: 0 auto
        padding: 0

    &Items
        list-style-type: none
        text:
            decoration: none
            align: left
        color: $primary-text-color
        font:
            family: $secondary-font-family
            size: 24px
            style: normal
            weight: 400
        line-height: 36px
        transition: 0.3s

        &:hover
            color: $secondary-text-color
            transition: 0.3s
    
    &Li
        width: 116px
        margin: 0
        padding: 0
        border-bottom: 1px solid $primary-text-color
        transition: 0.3s

        &:hover
            border-bottom: 1px solid  $secondary-text-color
            transition: 0.3s

    &Range
        display: flex
        flex-direction: row
        flex-wrap: wrap
        justify-content: space-between
        margin-top: 91px
    
    &Img
        max-width: 364px
        max-height: 364px

.lastLi
    width: 70px

    
        
            





    