@import 'variables.sass'
    
body
    font:
        family: $primary-font-family, sans-serif
    margin: 0
    padding: 0
    background-color: $base-background

h1
    color: $primary-text-color
    font:
        family: $secondary-font-family, sans-serif
        weight: 700
    text-transform: uppercase