$base-background: #000000
$secondary-background: rgba(24, 25, 26, 1)
$primary-text-color: rgba(255, 255, 255, 1)
$secondary-text-color: rgba(226, 176, 36, 1)
$primary-border-color: rgba(255, 255, 255, 0.6)
$secondary-btn-color: rgba(226, 176, 36, 1)
$text-bnt-color: rgba(31, 31, 31, 1)
$primary-font-family: 'ChocolateBox'
$secondary-font-family: 'Poppins'
